{% extends 'dip/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article index</title>
</head>
<body>
    <h1>Article index page</h1>
    {% for x in data %}
    <li>
        <a href="{% url 'article-detail-page' arid=x.article_writer_id %}">{{x.name}}</a>
    </li>
    {% endfor %}
</body>
</html>
{% endblock %}