<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body{
        background-color: darkslategrey;
        color: floralwhite;
    }
    a {
        color: deeppink;
    }
    h1{
        color: khaki;
    }
    h2{
        color: salmon;
    }
    li{
        color: thistle;
    }
</style>
<a href="{% url 'home-page' %}">Home</a>
<a href="{% url 'index-page' %}">Index</a>
<a href="{% url 'article-index-page'%}">Articles</a>
<a href="{% url 'new-columnist-page'%}">Add columnist</a>
<a href="{% url 'register-page' %}">Register</a>
<a href="{% url 'user-list-page' %}">User List</a>





<hr>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>